:root {
  --primary: rgb(140, 59, 255);
  --background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "arimo", sans-serif;
  background-color: var(--background);
  color: #fff;
  min-height: 3000px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: var(--background);
  border-bottom: 1px solid rgb(51, 4, 69);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1, 5rem;
  font-weight: 700;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a:after {
  transition: 0, 2s linear;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* Media queris */

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header jpeg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 40rem;
}

.hero .content h1 {
  font-size: 3rem;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5 rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About section*/
.about,
.event {
  padding: 5rem 7% 1.4rem;
}

.about h2,
.event h2 {
  text-align: left;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.event h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img img {
  width: 50%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 100;
  line-height: 1.6;
}

/* menu section */
.event h2 {
  font-size: 100;
}

.event .row {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  justify-content: space-between;
}
.event-card {
  text-align: center;
}
.event .row .event-card img {
  border-radius: 10%;
  width: 90%;
  margin-right: 20px;
}
.event .row .event-card .event-card-title {
  margin-top: 1.5rem;
}

/* Laptop */
@media (max-widht: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-widht: 758px) {
  html {
    font-size: 62.5%;
  }
}

/* mobaile */
@media (max-widht: 450px) {
  html {
    font-size: 55%;
  }
}
